@model Fiap.Green.Startup.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAtualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAtualizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProduto.IdTipoProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.IdFornecedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProduto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
