@model Fiap.Green.Startup.Models.Fornecedor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrVendas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrVendas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.IdEmpresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFornecedor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
